.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%; /* カードの幅を固定 */
  height: auto; /* 高さを内容に応じて自動調整 */
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  transform: scale(1.05); /* ホバー時も同じサイズを保持 */
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%; /* カードの高さを適切に設定 */
  justify-content: space-between; /* 内容を上下に分散 */
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}
.card-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}
.card-credit {
  font-size: 12px;
  color: #666;
  margin-top: auto; /* 上の要素から自動的にスペースを取る */
  align-self: flex-end; /* 右端に寄せる */
  margin-bottom: 0;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
}

/* 親コンテナのスタイルを追加して、カードを縦に並べる */
.container {
  display: flex;
  flex-direction: column; /* アイテムを縦に並べる */
  align-items: center; /* アイテムを中央に揃える */
  margin: auto; /* ブラウザの中央にコンテナを配置 */
  width: fit-content; /* コンテナの幅を中身に合わせる */
  margin: 50px auto 0; /* 上に50pxのマージンを追加し、他はautoで中央に */
}
