.centered-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.centered-circle img {
    border-radius: 50%; /* 画像を円形にする */
    width: 250px; /* 画像のサイズ、必要に応じて調整 */
    height: 250px; /* 画像のサイズ、必要に応じて調整 */
    object-fit: cover; /* 画像が枠に合わせて切り抜かれるようにする */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 画像に影をつける */
    max-width: 100%; /* 画像がコンテナを超えないように */
    opacity: 0; /* 初期状態では透明 */
    animation: fadeInScale 0.4s ease-out forwards; /* アニメーションを適用 */
}



  
  /* キーフレームアニメーションの定義 */
  @keyframes fadeInScale {
    from {
      transform: scale(0.3); /* 開始時には画像を小さく */
      opacity: 0;
    }
    to {
      transform: scale(1); /* 最終的には通常サイズ */
      opacity: 1;
    }
  }