
h1 {
    will-change: transform, opacity; /* アニメーションの前に設定 */
    animation: revealText 1.5s ease 1.5s forwards; /* テキストの色が変わるアニメーション */
}

@keyframes revealText {
    from { color: transparent; }
    to { color: white; }
}

h1:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: white;
    animation: slideAcross 1.5s ease forwards; /* ボックスがスライドするアニメーション */
}

@keyframes slideAcross {
    0% { left: -100%; }
    30% { left: -100%; }
    75% { left: 0; }
    100% { left: 100%; }
}
