.soundmake-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2列 */
    grid-gap: 20px; /* カード間のギャップ */
    padding: 20px; /* コンテナのパディング */
    margin-top: 50px;
  }



  .soundmake-card-other-work {
    background-color: #dddfddd3;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
  }