.radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-direction: column; 
    margin-bottom: 30px;
  }
  
  .radio-group div {
    display: flex;
    align-items: center;
    gap: 10px;  /* ラベル間の隙間を適切に設定 */

  }
  .sort-group {
    margin-right: 10px;
    margin-top: 70px;

  }
  .feat-group {
    margin-top: 0px;
  }
  

/* メディアクエリを使用して、特定の画面幅以上でデスクトップ向けのスタイルを適用 */
@media (min-width: 768px) {
    .card {
      width: 450px; /* カードの幅をデスクトップでは固定 */
    }
    .radio-group {
      flex-direction: row; /* デスクトップでは横並びに戻す */
      margin-bottom: 30px;
    }
    .feat-group {
      margin-top: 70px;
    }
  }
  
  /* タブレットおよびデスクトップ用の追加のスタイル調整 */
  @media (min-width: 768px) {
    .container {
      width: 80%; /* デスクトップとタブレットでコンテナの幅を広げる */
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; /* カード間に均等なスペースを作る */
    }
    .card {
      margin: 20px; /* カード間のマージンを調整 */
    }
  }
  
/* 共通のスタイル */
.radio-label-sort,
.radio-label-feat {
  padding: 10px 20px;
  cursor: pointer;
  opacity: 1; /* 初期状態での透明度 */
  color: rgba(0, 0, 0, 1);
  transition: color 0.3s ease; /* 透明度の変化を0.3秒かけて適用 */
  user-select: none;
}

/* ホバー時の背景色変更 */
.radio-label-sort:hover,
.radio-label-feat:hover {
  color: rgba(0, 0, 0, 0.3)
}

/* チェックされたときの背景色、文字色、変形（拡大） */
input[type="radio"]:checked + .radio-label-sort {
  border-color:  #e12885;
  border-bottom-width: 2px;
  border-bottom-style: solid;

}

input[type="radio"]:checked + .radio-label-feat {
  border-color:  #e12885;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

